<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- import fontawesome -->
    <link
      rel="stylesheet"
      href="./lib/fontawesome-free-6.2.1-web/css/brands.min.css"
    />
    <link
      rel="stylesheet"
      href="./lib/fontawesome-free-6.2.1-web/css/solid.min.css"
    />
    <link
      rel="stylesheet"
      href="./lib/fontawesome-free-6.2.1-web/css/fontawesome.min.css"
    />
    <!-- import css -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <!-- import bootstrap -->
    <link
      rel="stylesheet"
      href="./lib/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css"
    />
    <!-- import styles thanh toan -->
    <link rel="stylesheet" href="./assets/css/checkout.css" />
    <title>Techmaster Aquatic</title>
  </head>

  <body>
    <div class="container">
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light"
        style="width: 100%; background-color: white !important"
      >
        <a class="navbar-brand" href="./index.html">Techmaster Aquatic</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Catagories
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="dropdown-submenu">
                  <a class="dropdown-item" href="./shoping.html">Fish</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./coral.html">Coral SPS-LPS</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./aboutus.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contact.html">Contact</a>
            </li>
          </ul>
        </div>
        <div
          class="collapse navbar-collapse icon-right"
          id="navbarSupportedContent"
          style="justify-content: end"
        >
          <a class="nav-link" href="#"
            ><i class="fa-regular fa-cart-shopping" style="color: #000000"></i>
            <span class="total-price">0</span><sup>vnđ</sup>
          </a>

          <a class="nav-link" id="userheader" href="#"
            ><i class="fa-regular fa-user" style="color: #000000"></i
          ></a>
        </div>
      </nav>
    </div>

    <main class="main-payment">
      <!-- Block content - Đục lỗ trên giao diện bố cục chung, đặt tên là `content` -->
      <div class="container mt-4">
        <form
          class="needs-validation"
          name="frmthanhtoan"
          method="post"
          action="#"
        >
          <div class="py-5 text-center">
            <i class="fa fa-credit-card fa-4x" aria-hidden="true"></i>
            <h2>Thanh toán</h2>
            <p class="lead">
              Vui lòng kiểm tra thông tin Khách hàng, thông tin Giỏ hàng trước
              khi Đặt hàng.
            </p>
          </div>
          <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
              <h4
                class="d-flex justify-content-between align-items-center mb-3"
              >
                <span class="text-muted">Giỏ hàng</span>
                <span class="badge badge-secondary badge-pill">2</span>
              </h4>
              <ul class="list-group payment-counter mb-3">
                <li
                  class="list-group-item d-flex justify-content-between lh-condensed"
                >
                  <div>
                    <h6 class="my-0">GOBY</h6>
                    <small class="text-muted">150vnđ x2</small>
                  </div>
                  <span class="text-muted">300vnđ</span>
                </li>

                <li
                  class="list-group-item d-flex justify-content-between lh-condensed"
                >
                  <div>
                    <h6 class="my-0">YELLOW COLONY</h6>
                    <small class="text-muted">350vnđ x 2</small>
                  </div>
                  <span class="text-muted">700vnđ</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Tổng thành tiền</span>
                  <strong>1000vnđ </strong>
                </li>
              </ul>

              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Mã khuyến mãi"
                />
                <div class="input-group-append">
                  <button class="btn btn-secondary">Xác nhận</button>
                </div>
              </div>
            </div>
            <div class="col-md-8 order-md-1">
              <h4 class="mb-3">Thông tin khách hàng</h4>

              <div class="row">
                <div class="col-md-12">
                  <label for="kh_ten">Họ tên</label>
                  <input
                    type="text"
                    class="form-control"
                    name="kh_ten"
                    id="kh_ten"
                  />
                </div>
                <div class="col-md-12">
                  <label for="kh_gioitinh">Giới tính</label>
                  <input
                    type="text"
                    class="form-control"
                    name="kh_gioitinh"
                    id="kh_gioitinh"
                  />
                </div>
                <div class="col-md-12">
                  <label for="kh_diachi">Địa chỉ</label>
                  <input
                    type="text"
                    class="form-control"
                    name="kh_diachi"
                    id="kh_diachi"
                  />
                </div>
                <div class="col-md-12">
                  <label for="kh_dienthoai">Điện thoại</label>
                  <input
                    type="text"
                    class="form-control"
                    name="kh_dienthoai"
                    id="kh_dienthoai"
                  />
                </div>
                <div class="col-md-12">
                  <label for="kh_email">Email</label>
                  <input
                    type="text"
                    class="form-control"
                    name="kh_email"
                    id="kh_email"
                  />
                </div>
                <div class="col-md-12">
                  <label for="kh_ngaysinh">Ngày sinh</label>
                  <input
                    type="date"
                    class="form-control"
                    name="kh_ngaysinh"
                    id="kh_ngaysinh"
                  />
                </div>
                <div class="col-md-12">
                  <label for="kh_cmnd">CMND</label>
                  <input
                    type="text"
                    class="form-control"
                    name="kh_cmnd"
                    id="kh_cmnd"
                  />
                </div>
              </div>

              <h4 class="mb-3">Hình thức thanh toán</h4>

              <div class="d-block my-3">
                <div class="custom-control custom-radio">
                  <input
                    id="httt-3"
                    name="httt_ma"
                    type="radio"
                    class="custom-control-input"
                  />
                  <label class="custom-control-label" for="httt-3"
                    >Ship COD</label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    id="httt-1"
                    name="httt_ma"
                    type="radio"
                    class="custom-control-input"
                  />
                  <label class="custom-control-label" for="httt-1"
                    >Thanh toán tiền mặt khi nhận hàng</label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    id="httt-2"
                    name="httt_ma"
                    type="radio"
                    class="custom-control-input"
                  />
                  <label class="custom-control-label" for="httt-2"
                    >Thanh toán bằng thẻ quốc tế Visa, Master, JCB</label
                  >
                </div>
                <!-- Visa card./Start -->
                <div class="wrapper" id="app">
                  <div class="card-form">
                    <div class="card-list">
                      <div
                        class="card-item"
                        v-bind:class="{ '-active' : isCardFlipped }"
                      >
                        <div class="card-item__side -front">
                          <div
                            class="card-item__focus"
                            v-bind:class="{'-active' : focusElementStyle }"
                            v-bind:style="focusElementStyle"
                            ref="focusElement"
                          ></div>
                          <div class="card-item__cover">
                            <img
                              src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/i98YsJ0Nxn1U/v0/-1x-1.jpg"
                              class="card-item__bg"
                            />
                          </div>

                          <div class="card-item__wrapper">
                            <div class="card-item__top">
                              <div class="card-item__type">
                                <transition name="slide-fade-up">
                                  <img
                                    v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType + '.png'"
                                    v-if="getCardType"
                                    v-bind:key="getCardType"
                                    alt=""
                                    class="card-item__typeImg"
                                  />
                                </transition>
                              </div>
                            </div>
                            <label
                              for="cardNumber"
                              class="card-item__number"
                              ref="cardNumber"
                            >
                              <template v-if="getCardType === 'amex'">
                                <span
                                  v-for="(n, $index) in amexCardMask"
                                  :key="$index"
                                >
                                  <transition name="slide-fade-up">
                                    <div
                                      class="card-item__numberItem"
                                      v-if="$index > 4 && $index < 14 && cardNumber.length > $index && n.trim() !== ''"
                                    >
                                      *
                                    </div>
                                    <div
                                      class="card-item__numberItem"
                                      :class="{ '-active' : n.trim() === '' }"
                                      :key="$index"
                                      v-else-if="cardNumber.length > $index"
                                    >
                                      {{cardNumber[$index]}}
                                    </div>
                                    <div
                                      class="card-item__numberItem"
                                      :class="{ '-active' : n.trim() === '' }"
                                      v-else
                                      :key="$index + 1"
                                    >
                                      {{n}}
                                    </div>
                                  </transition>
                                </span>
                              </template>

                              <template v-else>
                                <span
                                  v-for="(n, $index) in otherCardMask"
                                  :key="$index"
                                >
                                  <transition name="slide-fade-up">
                                    <div
                                      class="card-item__numberItem"
                                      v-if="$index > 4 && $index < 15 && cardNumber.length > $index && n.trim() !== ''"
                                    >
                                      *
                                    </div>
                                    <div
                                      class="card-item__numberItem"
                                      :class="{ '-active' : n.trim() === '' }"
                                      :key="$index"
                                      v-else-if="cardNumber.length > $index"
                                    >
                                      {{cardNumber[$index]}}
                                    </div>
                                    <div
                                      class="card-item__numberItem"
                                      :class="{ '-active' : n.trim() === '' }"
                                      v-else
                                      :key="$index + 1"
                                    >
                                      {{n}}
                                    </div>
                                  </transition>
                                </span>
                              </template>
                            </label>
                            <div class="card-item__content">
                              <label
                                for="cardName"
                                class="card-item__info"
                                ref="cardName"
                              >
                                <div class="card-item__holder">Card Holder</div>
                                <transition name="slide-fade-up">
                                  <div
                                    class="card-item__name"
                                    v-if="cardName.length"
                                    key="1"
                                  >
                                    <transition-group name="slide-fade-right">
                                      <span
                                        class="card-item__nameItem"
                                        v-for="(n, $index) in cardName.replace(/\s\s+/g, ' ')"
                                        v-if="$index === $index"
                                        v-bind:key="$index + 1"
                                        >{{n}}</span
                                      >
                                    </transition-group>
                                  </div>
                                  <div class="card-item__name" v-else key="2">
                                    Full Name
                                  </div>
                                </transition>
                              </label>
                              <div class="card-item__date" ref="cardDate">
                                <label
                                  for="cardMonth"
                                  class="card-item__dateTitle"
                                  >Expires</label
                                >
                                <label
                                  for="cardMonth"
                                  class="card-item__dateItem"
                                >
                                  <transition name="slide-fade-up">
                                    <span
                                      v-if="cardMonth"
                                      v-bind:key="cardMonth"
                                      >{{cardMonth}}</span
                                    >
                                    <span v-else key="2">MM</span>
                                  </transition>
                                </label>
                                /
                                <label
                                  for="cardYear"
                                  class="card-item__dateItem"
                                >
                                  <transition name="slide-fade-up">
                                    <span v-if="cardYear" v-bind:key="cardYear"
                                      >{{String(cardYear).slice(2,4)}}</span
                                    >
                                    <span v-else key="2">YY</span>
                                  </transition>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-item__side -back">
                          <div class="card-item__cover">
                            <img
                              v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'"
                              class="card-item__bg"
                            />
                          </div>
                          <div class="card-item__band"></div>
                          <div class="card-item__cvv">
                            <div class="card-item__cvvTitle">CVV</div>
                            <div class="card-item__cvvBand">
                              <span
                                v-for="(n, $index) in cardCvv"
                                :key="$index"
                              >
                                *
                              </span>
                            </div>
                            <div class="card-item__type">
                              <img
                                v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType + '.png'"
                                v-if="getCardType"
                                class="card-item__typeImg"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-form__inner">
                      <div class="card-input">
                        <label for="cardNumber" class="card-input__label"
                          >Card Number</label
                        >
                        <input
                          type="text"
                          id="cardNumber"
                          class="card-input__input"
                          v-mask="generateCardNumberMask"
                          v-model="cardNumber"
                          v-on:focus="focusInput"
                          v-on:blur="blurInput"
                          data-ref="cardNumber"
                          autocomplete="off"
                        />
                      </div>
                      <div class="card-input">
                        <label for="cardName" class="card-input__label"
                          >Card Holders</label
                        >
                        <input
                          type="text"
                          id="cardName"
                          class="card-input__input"
                          v-model="cardName"
                          v-on:focus="focusInput"
                          v-on:blur="blurInput"
                          data-ref="cardName"
                          autocomplete="off"
                        />
                      </div>
                      <div class="card-form__row">
                        <div class="card-form__col">
                          <div class="card-form__group">
                            <label for="cardMonth" class="card-input__label"
                              >Expiration Date</label
                            >
                            <select
                              class="card-input__input -select"
                              id="cardMonth"
                              v-model="cardMonth"
                              v-on:focus="focusInput"
                              v-on:blur="blurInput"
                              data-ref="cardDate"
                            >
                              <option value="" disabled selected>Month</option>
                              <option
                                v-bind:value="n < 10 ? '0' + n : n"
                                v-for="n in 12"
                                v-bind:disabled="n < minCardMonth"
                                v-bind:key="n"
                              >
                                {{n < 10 ? '0' + n : n}}
                              </option>
                            </select>
                            <select
                              class="card-input__input -select"
                              id="cardYear"
                              v-model="cardYear"
                              v-on:focus="focusInput"
                              v-on:blur="blurInput"
                              data-ref="cardDate"
                            >
                              <option value="" disabled selected>Year</option>
                              <option
                                v-bind:value="$index + minCardYear"
                                v-for="(n, $index) in 12"
                                v-bind:key="n"
                              >
                                {{$index + minCardYear}}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="card-form__col -cvv">
                          <div class="card-input">
                            <label for="cardCvv" class="card-input__label"
                              >CVV</label
                            >
                            <input
                              type="text"
                              class="card-input__input"
                              id="cardCvv"
                              v-mask="'####'"
                              maxlength="4"
                              v-model="cardCvv"
                              v-on:focus="flipCard(true)"
                              v-on:blur="flipCard(false)"
                              autocomplete="off"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Visa card./End -->
              </div>
              <button
                class="btn btn-primary btn-lg btn-block"
                name="btnDatHang"
              >
                Đặt hàng
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- End block content -->
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h4>Contact</h4>
            <p>Email: cungbuian1990@gmail.com</p>
            <p>Phone: 0399625526</p>
            <p>Address: Tố Hữu , Hà Nội , Việt Nam</p>
          </div>
          <div class="col-md-6">
            <h4>Follow Us</h4>
            <div class="social-icons">
              <a href="https://www.facebook.com"
                ><i class="fab fa-facebook"></i
              ></a>
              <a href="https://www.instagram.com"
                ><i class="fab fa-instagram"></i
              ></a>
              <a href="https://www.tiktok.com"><i class="fab fa-tiktok"></i></a>
              <a href="skype:your-skype-username?call"
                ><i class="fab fa-skype"></i
              ></a>
              <a href="https://www.youtube.com"
                ><i class="fab fa-youtube"></i
              ></a>
              <a href="https://www.pinterest.com"
                ><i class="fab fa-pinterest"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script src="./lib/bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js"></script>
  <script src="./lib/jQuery/jquery.min.js"></script>
  <!-- javascript -->
  <script src="./assets/js/main.js"></script>
  <!-- jv shoping -->
  <script src="./assets/js/shoping.js"></script>

  <!-- Font Awesome Icons -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script src="https://unpkg.com/vue-the-mask@0.11.1/dist/vue-the-mask.js"></script>
  <script src="https://kit.fontawesome.com/your-font-awesome-kit.js"></script>
  <!-- Checkout Js -->
  <script src="./assets/js/checkout.js"></script>
</html>
